* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arrow {
    position: fixed;
    padding: 10px 10px;
    bottom: 10px;
    right: 10px;
    background-color: #ffa400;
    border-radius: 20px;
    opacity: 0.1;
}

.arrow:hover {
    opacity: 1;
}

.arrow img {
    width: 30px;
    height: 30px;
}

html {
    scroll-behavior: smooth;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #ffa400, #00aefd);
}

body::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
}

#snow {
    position: relative;
    overflow: hidden;
    height: 100vh;
    border-bottom: 3px solid #000;
}

#snow .snow-icon {
    position: absolute;
    background-image: url(./img/1.png);
    background-size: cover;
    height: 50px;
    width: 50px;
    animation: anime 4s ease-in-out infinite;
}

@keyframes anime {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(100px, 50vh);
        opacity: 0;
    }
}

header {
    height: 100px;
    width: 100%;
    background-color: rgb(244, 241, 235);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000 !important;
}

header .logo {
    height: 101px;
    width: 101px;
    margin-bottom: 2px;
}

header .nav {
    display: flex;
    align-items: center;
}

header .nav li a {
    color: #000;
    font-weight: 900;
}

header .nav li {
    font-size: 35px;
    margin: 0 20px 0 0;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 5px 20px;
}

header .nav li:hover {
    background-image: linear-gradient(-45deg, #D000F7, #24BAE3);
}

header .contact-icon {
    display: flex;
}

header .contact-icon li a {
    color: #000;
}

header .contact-icon li {
    font-size: 45px;
    margin: 0 35px 0 0;
}

header .contact-icon li:hover {
    transform: translate(0, -10px);
    transition: 0.5s;
}

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F1F1F1;
    position: relative;
}

section .text {
    position: absolute;
    margin-top: 150px;
    padding-left: 30px;
}

section .text .text-first {
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    display: inline-block;
    border-radius: 100px;
    padding: 5px 25px;
    color: #fff;
    margin-bottom: 25px;
}

section .text h1 {
    font-size: 50px;
}

section .text p {
    font-size: 25px;
}

section .text .study {
    display: flex;
}

section .text .study li {
    padding: 20px 10px;
    font-size: 60px;
    list-style: none;
    cursor: pointer;
}

section .img-main {
    height: 640px;
    margin-left: 743px;
}

section .btn-main {
    display: flex;
    position: absolute;
    margin-top: 55vh;
    padding-left: 40px;
}

section .btn-main li {
    padding: 0 20px 0 0;
}

section .btn-main li button {
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid #16A085;
}

section .btn-main .btn-contact {
    background-image: linear-gradient(-45deg, #D000F7, #24BAE3);

}

section .btn-main li .btn-contact:hover {
    background-color: #fff;
}

section .btn-main li button:hover {
    transform: translate(0, -10px);
    transition: 0.5s;
    background-image: linear-gradient(-45deg, #D000F7, #24BAE3);
}

#about1 {
    position: relative;
    height: 740px;
}

#about1 .about-title {
    position: absolute;
    font-size: 50px;
    font-weight: 400;
    margin-left: 47%;
    margin-top: 20px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    color: #fff;
    border-radius: 100px;
    padding: 5px 20px;
}

#about1 .about-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    margin: 6px 100px 0 100px;
}

#about1 .about-img {
    height: 500px;
    width: 500px;
}

#about1 .about-body .text {
    position: absolute;
    border: 4px solid #F4A261;
    width: 750px;
    top: 20px;
    left: 600px;
    padding: 10px 10px;
}

#about1 .about-body .text li {
    padding: 5px 0px;
}

#about1 .about-body .text li .fa-graduation-cap {
    font-size: 30px;
    padding: 0 5px;
}

#about1 .about-body .text li .fa-heart {
    font-size: 40px;
    padding: 0 5px;
}

#about1 .about-body .text li .anime span a:hover {
    color: red;
}

#about1 .about-body .text li .fa-cake-candles {
    font-size: 40px;
    padding: 0 5px;
}

#about1 .about-body .text li .fa-map-location {
    font-size: 30px;
    padding: 0 5px;
}

#about1 .about-body .text li .fa-palette {
    font-size: 40px;
    padding: 0 5px;
}

#about1 .about-body .text li p {
    font-size: 30px;
    display: inline;
}

#about1 .about-body .text .btn-main-about {
    display: flex;
    justify-content: end;
}

#about1 .about-body .text .btn-about {
    padding: 20px 10px 10px 20px;
    display: inline-block;
}

#about1 .about-body .text .btn-about button {
    padding: 10px 25px;
    font-size: 20px;
    border-radius: 100px;
    cursor: pointer;
    border: 3px solid #16A085;
    font-weight: 550;
}

#about1 .about-body .text .btn-about:hover {
    transform: translate(0, -10px);
    transition: 0.5s;
}

#about1 .about-body .text .btn-about .btn-contact1 {
    background-image: linear-gradient(-45deg, #D000F7, #24BAE3);
}

#about1 .about-body .text .btn-contact1:hover {
    background-color: #FF2AEF;
}

#about1 .about-body .text .btn-about .btn-cv2:hover {
    background-image: linear-gradient(-45deg, #D000F7, #24BAE3);
}

#project {
    position: relative;
    height: 740px;
}

#project .project-title {
    margin-top: 5px;
    margin-left: 40%;
    position: absolute;
    padding: 5px 25px;
    border-radius: 100px;
    font-size: 50px;
    color: #fff;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
}

#project .project-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 550px;
}

#project .project-content .project-text li {
    font-size: 50px;
}

#contact {
    position: relative;
    height: 740px;
    width: 100wh;
}

#contact .contact-title {
    margin-top: 5px;
    margin-left: 44%;
    position: absolute;
    padding: 5px 25px;
    border-radius: 100px;
    font-size: 50px;
    color: #fff;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
}

#contact .body-contact .contact-text .icon-bottom i {
    margin: 20px 0;
}

#contact .body-contact {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30vh 200px 0px 200px;
}

#contact .body-contact .contact-text span {
    color: #00aefd;
}

#contact .body-contact .contact-text .fa-brands {
    font-size: 50px;
}

#contact .body-contact .contact-text .fa-solid {
    font-size: 50px;
}

#contact .body-contact .contact-text i {
    font-size: 30px;
}

#contact .body-contact .contact-text .icon-bottom {
    display: inline;
    padding: 20px;
}

#contact .body-contact li h1 {
    font-size: 60px;
}

#contact .body-contact li {
    padding: 4px 0px;
}

#contact .body-contact li a {
    font-size: 40px;
}

#contact .body-contact .from-contact {
    position: relative;
    bottom: 80px;
    left: 100px;
}

#contact .body-contact .from-contact form input,
form textarea {
    width: 100%;
    padding: 14px;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#contact .body-contact .from-contact .submit-last {
    cursor: pointer;
    width: 160px;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 600;
}

#contact .body-contact .from-contact .submit-last:hover {
    background-image: linear-gradient(-45deg, #D000F7, #24BAE3);
}